!!!
%html
  %head
    %title CoffeePrefs
    = include_stylesheets :app
    = csrf_meta_tag
  %body
    = yield
    
    = include_javascripts :app
    :javascript
      var Coffee = {};
      
      Coffee.Organisation = new Organisation();
      